.quizzes {
    padding: 30px;
    margin: 10px;
}

.quizOutput {
    display: flex;
    justify-content: center;
    gap: 25px 25px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.quizItem {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px;
    width: 270px;
    background-color: #249584;
    box-shadow: 0 10px 30px -6px black;
}

.quiz-title {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.quiz-title-container {
  padding: 5px;
  background-color: #82c7f8;
  border-radius: 10px 10px 0px 0px;
}

.quiz-number {
    margin-left: 0px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #bba5dd;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 2px;
}

.quiz-container ul {
  margin: 10px 10px 10px -30px;
  
}

.quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.quiz-container ul .selected-answer {
    background: #ffd6ff;
    border: 1px solid #800080;
}

.quiz-container button {
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  margin: 10px;
}